.row__movies__backdrop {
    color: $fontMainColor;
    padding-top: 10px;
    padding-bottom: 20px;

    h2 {
        padding: 10px;
    }

    .row__movies__backdrop__carousel {
        height: 170px;
        position: relative;
        display: flex;
        overflow: hidden;
        width: 100%;
    }

    .row__movies__backdrop__carousel::before {
        background: linear-gradient(to right, rgba(31, 31, 31, 1) 50%, rgba(31, 31, 31, 0) 100%);
        height: 100%;
        content: ' ';
        position: absolute;
        width: 100px;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .row__movies__backdrop__carousel::after {
        background: linear-gradient(to left, rgba(31, 31, 31, 1) 50%, rgba(31, 31, 31, 0) 100%);
        height: 100%;
        content: ' ';
        position: absolute;
        width: 100px;
        z-index: 2;
        top: 0;
        right: 0;
    }

    .row__movies__backdrop__carousel__box__left__to__right {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 1;
        position: relative;  
        animation: scrollingRight 200s linear infinite;
    }

     .row__movies__backdrop__carousel__box__right__to__left {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 1;
        position: relative;  
        animation: scrollingLeft 150s linear infinite;
    }

}

@keyframes scrollingRight {
    0% { transform: translateX(100vw); }
    100% { transform: translateX(calc(-1*300px*21)); }
}

@keyframes scrollingLeft {
    0% { transform: translateX(calc(-1*300px*21)); }
    100% { transform: translateX(100vw); }
}