.footer__icons {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid $fontFooterColor;

    a {
        padding: 3px;
        margin: 10px;
    }
}