// movies search box
.movies__search {
    color: $fontMainColor;
    
    .movies__search__box__container {
        padding-top: 40px;
        padding-bottom: 50px;
        justify-content: center;
        
        .movies__search__box {
            border: 1px solid right;
            width: 60%;
            display: flex;
            background-color: $fontMainColor;
            height: 30px;
            margin: 5px auto;

            input[type=text] {
                width: 100%;
                padding: 6px;
                border: none;
                border: none;
                outline: none;
                font-size: $fontSizeSmall;
            }
    
            button {
                text-decoration: none;
                background-color: #ffffff;
                padding: 1px 2px;
                border: none;
                cursor: pointer;
            }
        }
    }

    .movies__search__list__container {

    }


}