@import './navbarmodalItem.scss';

.navbar__modal {
    background-color: #000000;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    -webkit-animation: topAnimation 0.5s;
            animation: topAnimation 0.5s;

    .navbar__modal__button__container {
        width: 100%;
        height: 150px;

        .navbar__modal__button {
            background-color: inherit;
            position: absolute;
            top: 30px;
            right: 40px;
            color: #e23f30;
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            cursor: pointer;
        }
    }

    .navbar__modal__container {
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: justify;
        padding: 50px;
        color: $fontMainColor;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    
}

@include breakpint(tablet) {
  .navbar__modal {
    .navbar__modal__button__container {
      height: 80px;
    }
    .navbar__modal__container {
      width: 100%;
      padding: 0px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; 
    }
  }
}

@-webkit-keyframes topAnimation {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes topAnimation {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}